
/*=============================================
=            Body            =
=============================================*/

body {
    background-color: var(--bs-info) !important;
}

/*=====  End of Body  ======*/


/*=============================================
=            Page            =
=============================================*/

.page {
    padding: 3rem;
}


/*=====  End of Page  ======*/

.cursor--default {
    cursor: default !important;
}
